.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Wrapper {
    max-width: 300px;
    border: 1px solid gray;
}
.Display {
    font-size: 30px;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    font-size: 50px;
}

.PanelButtons {
    margin: 10px;
}

.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.OperatorsButton {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.OperatorButton {
    background-color: lightsalmon;
    width: 60px;
    height: 60px;
}

.NumericButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.NumericButton {
    background-color: lightgray;
}

.ButtonNine {
    grid-column: 2 / 3;
    grid-row: 4 / 4;
}

.Finish {
    background-color: lightblue;
}
